@import '../../index.scss';

.schedule-top {
    margin: 3em 0;
}
.schedule-select {
    @include flex-column;
    align-items: center;
}
.schedule-selector {
    height: 2.5em;
    width: fit-content;
}
.schedule-form-modal {
    display: flex;
    justify-content: center;
    align-items: center;

}
.no-schedule {
    text-align: center;
    margin-top: 2em;
}

.schedule-form-modal button {
    height: 3em;
    padding: .25em;
    font-weight: 600
}

.schedule {
    @include flex-column;
    margin-top: 1em;
}
.schedule h3 {
    text-align: center;
    margin: 1em;
}
.schedule-days-title {
    font-size: 1.8em;
}

.schedule-days-title,
.day-labels {
    border: .1em solid black;
    padding: .25em;
    margin: .25em;
    align-self: center; 
}


.days {
    @include flex-row;
    height: 35em;
    width: 95%;
    margin: auto;
    border: .1em solid black;
}

.day-div {
    flex: 1;
    background-color: white;
    @include flex-column;
    padding: 1em;
    border: .1em solid black;
    transition: all .2s ease-in-out; 
}

.day-labels{
    font-size: 1.25em;
}

.day-div:hover {
    transform: scale(1.1);
}

.schedule-middle {
    margin: 2em 0;
}

.link-buttons {
    margin: auto;
    @include flex-row;
    justify-content: space-evenly;
}

.schedule-bottom {
    @include flex-row;
    height: 60em;
    width: 95%;
    margin: auto;
    margin-bottom: 2em;
    border: .1em solid black;
}
.recipes {
    @include flex-column;
    gap: 1em;
}

.fave-recipes {
    width: 35%;
    padding: 1.25em;
    overflow-y: scroll;
}

.schedule-recipe-img {
    position: relative;
    height: 14em;
    width: 16em;

}

.schedule-recipe-img:hover  .overlay {
    opacity: 1;
}

.day-meals {
    @include flex-column;
    width: 70%;
    justify-content: space-between;
    padding: 1.25em;
    border-left: .1em solid black;
}
.drag-over:hover {
    border: 2px dashed #3a3838;
    background-color: #d3d2d2;
}

.drag-over {
    padding: 1em;
}

.dropped-item {
    overflow: hidden;
    display: flex;
}

.dropped-item {
    width: 9em;
    height: 7em;
}

.dropped-item img {
    width: auto;
    height: auto;
    align-items: center;


}

.dropped-item .overlay {
    opacity: 0;
}

.meal-sections {
    flex: 1;
}
.meals {
    height:12em;
    @include flex-row;
    flex-wrap: wrap;
    gap: .5em;
}

.schedule-button {
    height: 3em;
    padding: .25em;
    margin: 2em;
}

.submit-button {
    display: grid;
}
.submit-button button{
    justify-self: center;
}
