@import "../../index.scss";

.schedule-day-back {
  position: relative;
  margin-left: 1em;
  margin-top: .5em;
  width: fit-content;
  height: fit-content;
}

.schedule-day-back .tooltiptext {
  @include tooltiptext;
}

.schedule-day-back:hover .tooltiptext  {
  visibility: visible !important;
}

.schedule-day-back-icon {
  margin-left: 1em;
  font-size: 2em;

}

.schedule-bottom {
  @include flex-row;
  height: 60em;
  width: 95%;
  margin: auto;
  margin-bottom: 1em;
  border: 0.2em solid black;
}

.recipes {
  @include flex-column;
  width: fit-content;
  margin-top: 5em;
  margin-bottom: 1em;
  gap: 1em;
}

.fav-recipe-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 20%;
  z-index: 2;
  background-color: white;
  border: .1em solid black;
  
}

.fave-recipes {
  @include flex-column;
  width: 25%;
  padding: 0 1.25em;
  overflow-y: auto;
  align-items: center;
  scrollbar-color: black white;
  overflow-x: hidden;
}

.fave-recipe-card {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fave-recipe-card:hover,
.schedule-recipe:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.fave-recipe-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  font-size: 1.25em;
  padding: 0.25em 0;
  max-height: 50%;
  word-wrap: break-word;
}


.schedule-recipe-img {
  position: relative;
  height: 14em;
  width: 16em;
  object-fit: cover;
}

.favorited-recipe {
  width: fit-content;
}

.schedule-recipe {
  height: fit-content;

}

#schedule-recipe-title {
  margin-top: -4em;
  border: none;
}

.day-meals {
  border-left: .2em solid black;
}

.meal-sections {
  margin-left: 1em;
}

.meals {
  @include flex-row;
  flex-wrap: wrap;
  height: fit-content;
  gap: 2em;
  margin-top: 6em;
  margin-left: 2em;

}

.submit-button {
  display: flex;
  justify-content: center;
  margin: 0 1em 1em 1em;
}

.schedule-day-top-buttons {
  @include flex-row;
  justify-content: space-between;
  height: 4em;
  align-items: center;
  
}

#schedule-day-navlink {
  margin-right: 3em;
}