.banner img{
    position: relative;
    height: 23em;
    width: auto;
    z-index: -1;
    top: -2em;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.searchbar {
    margin-top: -5.5em;
}

.join {
    margin-top: 1em;
}

.join button {
    height: 3em;
    width: 5em;
    border-radius: 2em;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 50em;

}

.card{
    display: flex;
    flex-direction: row;
    height: 12em;

    
}

.card img {
    width: 25em;
    height: 12em;
    justify-content: center;
}

.card p {
    text-align: justify;
    padding: 2.5em;
    width: 20em;
}

.best-recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.best-recipes h2 {
    text-align: center;
}

.recipe-cards {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.recipe-cards div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.recipe-card img {
    width: 10em;
    height: 10em;
}

.view-more {
    margin: auto;
    height: 3em;
    width: 8em;
    border-radius: 2em;
    text-align: center;
    margin-bottom: 2em;
}