@import "../../index.scss";
.landing {
    @include flex-column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;
}

.landing-search {
    margin-top: -3.5em;
}

.join {
    margin-top: 2em;
}

.join button {
    height: 3em;
    width: 5em;
    border-radius: 2em;
    margin: auto;
}


.calendar {
    @include flex-row;
}

.days {
    @include flex-column;
    width: 12em;
    height: fit-content;
}

.day-name {
    border: 1px solid black;
    height: 2em;
    margin: auto;
}

.meal-container {
    height: 15em;
}

.cards {
    @include flex-column;
    gap: 2em;
    width: 50em;
    margin-bottom: 1em;

}

.card{
    @include flex-row;
    height: 12em;

    
}

.card img {
    width: 25em;
    height: 12em;
    justify-content: center;
    object-fit: cover;
}

.card p {
    text-align: justify;
    padding: 1.5em;
    width: 20em;
}

.best-recipes {
    @include flex-column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.best-recipes h2 {
    text-align: center;
}

.landing-recipe-cards {
    @include flex-row;
    gap: 1em;
}
.landing-recipe-cards div {
    @include flex-column;
    text-align: center;
}

.landing-recipe-card img {
    width: 10em;
    height: 10em;
}

.view-more {
    margin: auto;
    height: 3em;
    width: 8em;
    border-radius: 2em;
    text-align: center;
    margin-bottom: 2em;
}