.banner {
    position: relative;
    height: 23em;
    width: 100%;
    z-index: -1;
    top: -2em;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.join {
    margin-top: 7em;
}

.join button {
    height: 2em;
    width: 4em;
    border-radius: 2em;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 20em;
    height: 12em;
}

.card p {
    text-align: justify;
    
}

