.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32em;
  margin: 2em;
}

.sign-up-form input {
  border: 1px solid #000000;
  border-radius: 1.5em;
  padding: 1em 0.5em;
  width: 25em;
}

.signup-button {
  width: 300px;
  margin-top: 2em;
}

.signup-modal input[type="text"]:focus,
.signup-modal input[type="password"]:focus {
  border: 0.18em solid #456745;
  outline: none;
}

.signup-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.signup-modal h5 {
  margin-left: 0.5em;
}

.signup-modal {
  font-size: 0.8em;
  margin-bottom: 5em;
  font-weight: 600;
}

.to-login {
  margin-top: 1em;
  cursor: pointer;
}
