@import '../../index.scss';

.create-recipe {
    width: auto;
}
.create-recipe form{
    margin-top: 3em;
}

.web-scraper {
    @include flex-column;
    margin-top: 2em;
}

.inputs {
    @include flex-row;
}

.img{
    height: 25em;
    width: 55em;
    background-color: rgb(154, 154, 154);
    margin-left: .5em;

}
.img-preview {
    padding: 1em;
    width:32em;
    max-height: 20em;
}

.img-input[type="file"]::-webkit-file-upload-button{
    height:2em;
}

.img-input{
   padding: .5em 1.5em;
}


.text-inputs {
    position: relative;
    @include flex-column;
    justify-content: space-between;
    margin: 1em 1em 1em 1.25em;
    width: 40em;

}

.text-inputs input {
    width: 20em;
}

.text-inputs input,
.web-scraper input {
    height: 2em;
}

.input label {
    position: absolute;
    left: 5em;
    margin-top: -.8em;
    background-color: white;
    border: .1em solid black;
    padding: 0 .5em;

}

.times {
    @include flex-column;
    gap: 2.25em;
    margin-top: 1em;
}

.courses {
    @include flex-column;
    text-align: center;
}

.input .calories {
    width: 15em;
}

.cal-calc {
    width: 5em;
    height: 2.25em;
}

.textareas {
    display: flex;
    width: auto;
    height: 30em;
    margin: auto;
}
.recipe-left {
    @include flex-column;
    gap:.25em;
    margin-left: 1em;
    width: 25em;
}

.recipe-left-labels{
    gap: 5em;
    justify-content: center;
    padding: .5em;
}

.recipe-left .recipe-left-labels,
.recipe-left .recipe-left-inputs {
    @include flex-row;
    padding: .1em;
    align-items: start;
}


.recipe-left-inputs {
    border: .1em solid black;
    gap: 2em;
    height: 27em;
    margin-top: .5em;
}
.recipe-left-inputs input{
    margin-top: .5em;
    
}

.recipe-left div,
.recipe-right {
    @include flex-column;
}

.recipe-right {
    padding: 1.25em 0;

}

.instructions {
    width: 48em;
    height: 50em;
}

.ingredients {
    margin-right: .1em;
}

.submit {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.submit button{
    height: 3em;
    width: 8em;
    border-radius: 2em;

}