.create-recipe {
    width: auto;
}
.create-recipe form{
    margin-top: 3em;
}

.web-scraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
}

.img{
    height: 25em;
    width: 30em;
    background-color: rgb(154, 154, 154);

}
.img-preview {
    width:25em;
    height: auto;
}

.text-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
}

.text-inputs input,
.web-scraper input {
    height: 2em;
}

.textareas {
    display: flex;
    width: auto;
    height: 30em;
}

.ingredients {
    width: 25em;
}
.instructions {
    width: auto;
}