@import "../../index.scss";

.recipe-form {
  @include flex-column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.top {
  @include flex-row;
  margin-top: 2em;
}

.top-left {
  @include flex-column;

  width: 45em;
  height: 35em;
  position: relative;
  margin-right: 2em;
  margin-bottom: 2em;
  border: 0.1em solid black;
  padding: 1em;
}

.img-preview {
  padding: 1em;
  max-width: 92%;
  max-height: 92%;
  object-fit: contain;
  box-sizing: border-box;
  align-self: center;
}

.img-input {
  margin-top: auto;
  align-self: center;
}

.labels .tooltiptext {
  @include tooltiptext;
  margin-top: -2.25em;
  margin-left: 1.25em;
}
.labels:hover .tooltiptext {
  visibility: visible;
}

.input {
  @include flex-column;
  position: relative;
  margin-bottom: 3em;
  width: 100%;
}

.input label,
.labels {
  align-self: center;
}

.labels {
  position: absolute;
  margin-top: -1.2em;
  border: 0.1em solid black;
  background-color: white;
  padding: 0.2em 1em;
}

.input input,
.input select {
  height: 2.5em;
}

.tag-list {
  @include flex-row;
  width: 20em;
  overflow-x: auto;
}

.tag-item {
  @include flex-row;
  gap: 0.2em;
  border: 0.1em solid black;
  width: fit-content;
  height: fit-content;
  margin: 0.5em;
  padding: 0.2em;
}

.tag-name {
  align-self: center;
  text-wrap: nowrap;
}

.tag-item span {
  position: relative;
  display: flex;
  font-size: 0.8em;
  padding: 0.2em;
  top: -0.3em;
}

.tag-item:hover {
  color: red;
  border: 0.1em solid red;
}
.bottom {
  @include flex-row;
  width: 80%;
}

.border {
  @include flex-column;
  border: 0.1em solid black;
  height: 27em;
  margin-top: 0.5em;
  width: 100%;
  overflow-y: auto;
  align-items: center;
}

.bottom-left,
.bottom-right {
  flex-basis: 100%;
}

.bottom-left-inputs {
  @include flex-column;
}
.bottom-left-inputs .input {
  width: 14em;
}

.bottom-left-labels {
  @include flex-row;
  justify-items: space-evenly;
  position: relative;
}

.bottom-label-left {
  position: absolute;
  margin-top: -0.9em;
  left: 15%;
  border: 0.1em solid black;
  background-color: white;
  padding: 0.2em 1em;
  z-index: 2;
}
.bottom-label-right {
  position: absolute;
  margin-top: -0.9em;
  border: 0.1em solid black;
  background-color: white;
  padding: 0.2em 1em;
  z-index: 2;
  right: 20%;
}

.bottom-left-inputs {
  @include flex-row;
  margin-top: 1em;
  flex-wrap: nowrap;
  margin-left: 1em;
  margin-right: 1em;
}

.add-more button {
  align-self: center;
  height: 2.5em;
  padding: 0.25em 0.5em;
}

.bottom-right-label {
  position: absolute;
  display: flex;
  margin-top: -0.9em;
  z-index: 2;
  border: 0.1em solid black;
  background-color: white;
  padding: 0.2em 1em;
  right: 25%;
}

.bottom-right-inputs {
  margin: 1em;
  width: 30em;
}
.bottom-right-inputs input {
  height: 2.8em;
  border: 0;
  border-bottom: 0.1em solid black;
  outline: none;
}

.bottom-right-inputs input:focus {
    border-bottom: 0.2em solid black;
}

.submit button {
  height: 2.5em;
  padding: 0.25em 0.5em;
  margin: 1em;
}
