$flex-styles:(
    'column': (
        display: flex,
        flex-direction: column
    ),
    'row': (
        display: flex,
        flex-direction: row
    )
);

@mixin flex-column {
    display: flex;
    flex-direction: column;
    
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    
}

.banner img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 32em;
    z-index: -1;
    margin-top: -2em;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 4px; /* Space between the error and the input field */
    white-space: nowrap;
}
.err-container {
    min-height: 20px;
}


// @each $property, $value in map-get($flex-styles,'column'){
//     #{$property}: #{$value}
// }
