@import '../../index.scss';


.login-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
  .login-form {
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    width: 20em;
    height: 20em;
    border-radius: 40px;
  }
  
  div #modal-content .login-modal,
  div #modal-content .signup-modal {
    padding: 1em;
  }
  
  .login-form label {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  
  .login-form input {
    border: 1px solid #000000;
    border-radius: 1em;
    padding: 1em .5em;
    width: 25em;
  }
  
  .login-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding-top: 20px;
  }
  
  .login-buttons button,
  .signup-button {
    /* background-color: ; */
    color: black;
    border-radius: 40px;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 500;
    transition: 0.3s ease;
  }
  
  .login-buttons button:hover,
  .signup-button:hover {
    /* background-color: ; */
    color: white;
    background-color: black;
  }
  
  .login-form input[type="text"]:focus,
  .login-form input[type="password"]:focus {
    border: 0.18em solid black;
    outline: none;
  }
  
  
  h5 {
    margin-left: 0.5em;
  }
  
  .to-signup {
    margin-top: 1em;
    cursor: pointer;
  }
  
  .login-form span {
    height: 1px;
    width: 80%;
    margin-top: 20px;
  }