@import "../../index.scss";

.calendar {
    border: .1em solid black;
    width: 95%;
    margin: auto
}

.day-names-container {
    @include flex-row;
    justify-content: center;
    width: 100%;
}

.day-names {
    display: flex;
    padding: 1em;
    border: .1em solid black;
    width: 16em;
    height: 1em;
    justify-content: center;
    align-items: center;
}

.day.past {
    color: #aaa;
    background-color: #e0e0e0;
}

.days {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
}

.day {
    width: 18em;
    height: 12em;
    justify-content: center;
    align-items: center;
    border: .1px solid black;
}

.day:hover {
    background-color: rgb(234, 247, 247);
}